* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    padding: 20px;
    font-family: Impact, sans-serif;
    background-color: #a053d0;
    color: #ffffff;
}

.title h1{
    display: inline-block;
    font-size: 48px;
}

.title div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.title div ul {
    list-style-type: none;
}
.title div ul li {
    display: inline-block;
    margin-left: 25px;
    
}

.links {
    display:flex;


}