* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: hn-display, HelveticaNeue, Helvetica, helvetica, sans-serif;
}

/* Top Header & Nav Bar */

body {
    background-image: url("imging.jpg");
    background-size: cover;
}

.title {
    padding: 20px;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    position:sticky;
}

.title h1 {
    font-size: 48px;
    border-radius: 10px;

}

.title div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;

}

.title div ul {
    list-style-type: none;
}

.title div ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;

}

a{
    color: white;
}

a:hover{
    color:black;
}

.nav {
    color:white;
}

.nav:hover{
background-color: #ffffff;
color: black;
}

/* About me Section */

.first-section h2 {
    float: left;
    font-size: 40px;
    color: #ffffff;
    margin-left: 75px;
    width: 25%;
    position: relative;
}


.first-section p {
    font-size: 20px;
    color: white;
    padding-block: 19px;
    margin-bottom: 150px;
    margin-top: 50px;
    margin-right:10px; 

}

.border {
    border-left: 10px solid black;
    padding-left: 90px;
    margin-left: 455px;
}

/* Work Section */

p1 {
    display: flex;
    flex-wrap: wrap;
    border-left: 10px solid black;
    padding-left: 90px;
    margin-bottom: 150px;
    
}
.container{
    position: relative;
}
.text-block{
    position: absolute;
    bottom: 24px;
    left: 9px;
    background-color:black;
    color: white;
    padding-left: 21px;
    padding-right: 10px;
    height: 50px;
}

img {
    border: 7px solid black;
    margin: 3px;
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}

img:hover {
filter: blur(0);
transition: 0.5s ease-in-out;
}

/* Contact Me Section */

p3 {
    font-size: 30px;
    color: white;
    font-family: hn-display, HelveticaNeue, Helvetica, helvetica, sans-serif;
    word-spacing: 100px;
}

p3 ul li {
    list-style-type: none;
    display: inline-block;
    text-decoration: underline;

}

